.body
  .body__objective
    .body__objective__head
      目標を設定する
    .body__objective__topic
      ※項目を登録してください
    .body__objective__exsample1
      例）　目標：ジョギング　単位：km
    .body__objective__exsample2
      例）　目標：読書　単位：分
    .body__objective__registration
      .body__objective__registration__aim
        目標：
      .body__objective__registration__unit
        単位：
    .body__objective__submit
      登録する