.mypage
  .mypage__head
    = current_user.name + "さんのマイページ"
  .mypage__body
    .mypage__body__diaries
      .mypage__body__diaries__diary
        .mypage__body__diaries__diary__title
          タイトル
        .mypage__body__diaries__diary__date
          2020年9月3日
    .mypage__body__info
      設定目標の詳細一覧
      .mypage__body__info__detail
        △△の詳細