.body
  .body__mypage
    .body__mypage__head
      .body__mypage__head__title
        = current_user.name + "さんのマイページ"
        .body__mypage__head__account
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
    .body__mypage__create
      .body__mypage__create__diary
        記録を投稿する
      .body__mypage__create__objective
        = link_to "目標を設定する", new_objective_path, method: :get, class: 'btn'
        -# 目標を設定する
    .body__mypage__body
      .body__mypage__body__diaries
        .body__mypage__body__diaries__topic
          記録一覧
        .body__mypage__body__diaries__diary
          .body__mypage__body__diaries__diary__title
            タイトル
          .body__mypage__body__diaries__diary__date
            2020年9月3日
      .body__mypage__body__info
        .body__mypage__body__info__title
          設定した目標一覧
        .body__mypage__body__info__details
          - @objectives.each do |objective|
            .body__mypage__body__info__details__detail
              = link_to new_amount_path(objective.id) do
                - objective.aim + "の記録を追加"
.footer
  gow-diary